<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">	
	<title>&nbsp;</title>
	<style>
		body{
			margin: 0px;
		}

		section{
			page-break-before: always;
		}

		ul{
			list-style-type: decimal;
		}

	</style>
</head>
<body>
	
	<section>
		<p align="center">
			<img src="odecarvalho.png" style="vertical-align: center"/>
		</p>
		<p align="center" style="color: #990000; font-size: 20px">
			Artigos
		</p>
		<div align="center">
			<i><em>www.olavodecarvalho.org</em></i>
		</div>
	</section>

	<section>
		<p>Lista de artigos</p>
		<ul>
			{% set number = 0 %}
			{% for article in articles %}
				<li><a href="#{{ number + loop.index }}">{{Number}} - {{ article['title'] }}</a></li>
			{% endfor %}
		</ul>
	</section>

	{% set number = 0 %}
	{% for article in articles %}
	<section>
		<p><a id="{{ number + loop.index }}">{{ number + loop.index }} - {{ article['title'] }}</a></p>
			{{ article['text'] }}
	</section>
	{% endfor %}

</body>		
</html>