<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>&nbsp;</title>
	<style>
		body{
			margin: 0px;
		}

		section{
			page-break-before: always;
		}

	</style>
</head>
<body>
	
	<section>
		<p align="center">
			<img src="odecarvalho.png" style="vertical-align: center"/>
		</p>
		<p align="center" style="color: #990000; font-size: 20px">
			Artigos
		</p>
		<div align="center">
			<i><em>www.olavodecarvalho.org</em></i>
		</div>
	</section>

	<section>
		<ul>
			{% for article in articles %}
				<li><a href="#1">{{ article['title'] }}</a></li>
			{% endfor %}
		</ul>
	</section>

</body>		
</html>